<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>To Do List on Vue</title>
  </head>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
  <body>
    <div id="app" v-cloak>
      <div class="new-task-box">
        <input
          type="text"
          class="new-task"
          :maxlength="maxInputLength"
          :placeholder="myPlaceholder"
          v-model="newTaskValue"
          @keypress.enter="addTask"
        >
        <span class="remaining-characters">{{ remainingInputLength }}</span>
        </input>
        <button 
          class="new-task-btn" 
          @click="addTask"
        >Add task</button>
      </div>
      <div class="tasks-list" v-if="tasks.length">
        <ul v-for="(task, idx) in tasks">
          <li class="tasks-list-item" key="task">
            <div class="task">
              <span class="task-text">[{{ idx + 1 }}]: {{ task }}</span>
              <button 
                class="remove-task-btn" 
                @click="removeTask(idx)"
              >done</button>
            </div>
          </li>
        </ul>
        <hr>
        <h3>Total number of tasks: {{ totalComputed }}</h3>
      </div>
      <h3 v-else>No current tasks!</h3>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
